apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-xqlcapwq
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-xqlcapwq:514809070d78b315fe4814fb9a5739c4cb1c5b1e@sha256:bb0fb9c5be838b9366f2c0fabae4a73f928b756cca3ca5b97a58fa6108bf1b62
        name: container-image  
